## mysql and phpmyadmin
MYSQL_ROOT_PASSWORD= 
MYSQL_DATABASE= 
MYSQL_USER= 
MYSQL_PASSWORD= 

## murmur-rest and mumble-server
APP_HOST=0.0.0.0
APP_PORT=8080
APP_DEBUG=True
APP_SECRET_KEY=supersecret
MURMUR_ICE_HOST=murmurd
MURMUR_ICE_PORT=6502
ENABLE_AUTH=True
USERS=admin:password
VIRTUAL_HOST=

## xmlmgmt-web
DATABASE_URL=
BASIC_AUTH_PASS=




